*{
  margin: 0;
  padding: 0;
  box-sizing: bordered;

}

body{
  color: #e1e1e1;
  background-color: #1e1e1e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

}



.container {
  padding: 24px 15px;
  height: auto;
  width: 620px;
  padding-top: 100px;
}

.container form label {
  display: block;
  margin-bottom: 0,5em;
}

.container form input {
  color: inherit;
  background-color: rgba(255,255,255,0);
  padding: 0.4rem;
  border: none;
  border-bottom: solid 2px rgba(255,255,255,0.2);
  border-radius: 8px 8px 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  weight: 80%;
  outline: none;
  transition: background-color 0.5s ease-in;

}

.container form input:focus{
  background-color: rgba(255,255,255,0.05);

}

.campo {
  width: 31%;
  float: left;
  color: #777777;
}


.campo input {
  margin: 10px 2%;
  padding: 10px 2%;
  width: 85%;
}

.campoNome {
  width: 37%;
  float: right;
  color: #777777;
  }


.campoNome input {
  margin: 13px 2%;
  padding: 10px 2%;
  width: 100%;
}

.valor{
  margin-top: 30px;
  padding: 85px 60px 1px 2px;
  margin-right: 30px;
}

.tabela{
 padding: 25px 1px;
  height: auto;
  padding-top: 50px;  
  padding-left: 0px;
  width: 105%;

}


.tabela th {
  margin: 2px 2%;
  padding: 10px 2%;
  width: 25%;
}

.resultado{
  padding: 10px 10px;  
  height: auto;
  width: 100%;
 }

 .resultado th{
  padding: 5px 45px 15px 15px;  
 }


